{% extends 'layout.njk' %}
{% import 'parts/cards.njk' as card %}

{% block content %}
{% call card.render('', 'orders-success container')%}
    <div class="success-lottie"></div>
    <h2>Pedido realizado com sucesso!!</h2>
    <p>Por favor, aguarde o vendedor entrar em contato no email cadastrado.</p>
    <a href="/products/search">Comprar mais</a>
{%endcall%}

<script src="/lottie.min.js"></script>
<script>
    const element = document.querySelector('.success-lottie');
    lottie.loadAnimation({
        container: element,
        renderer: 'svg',
        loop: false,
        autoplay: true,
        path: '/9603-success.json'
    }).setSpeed(4);
</script>
{% endblock content %}

