{% extends "layout.njk" %}

{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<title>Portfolio - Nivaldo Andrade</title>
{% endblock %}

{% block content %}

    <div id="wrapper" class="video">
        <h1>{{ item.tittle }}</h1>
    </div>
    <section class="video">
            <div class="card" id="{{item.id}}">
                <div class="card__video-container">
                    <iframe src="https://www.youtube.com.br/embed/{{item.id}}" frameborder="0"></iframe>
                </div>
                <div class="card__content">
                    <p>{{item.tittle}}</p>
                </div>
                <div class="card__info">
                    <p class="card__time">{{item.duration}}</p>
                    <p class="card__price">{{item.price}}</p>
                </div>
            </div><!--card-->
    </section><!--video-->
{% endblock %}