{% extends "layout.njk" %}

{% block content %}
    <main>
        <section class="content">
            <div class="card table-container">
                <div class="header">
                    <a class="button" href="/instructors/create">NOVO</a>
                    <form action="/instructors" method="get">
                        <input 
                        type="text"
                        name=filter
                        value="{{ filter }}"
                        placeholder="Filtrar pelo nome">
                        <button type="submit">Filtrar</button>
                    </form>
                </div>
                <table width="100%">
                    <thead>
                        <tr>
                            <th>Instrutor</th>
                            <th>Áreas</th>
                            <th>Alunos</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instructor in instructors %}
                            <tr>
                                <td>
                                    <div class="table-image">
                                        <span style="background-image: url({{ instructor.avatar_url }})"></span>
                                        {{ instructor.name }}
                                    </div>
                                </td>
                                <td> 
                                    {% for service in instructor.services %} 
                                        <span>{{ service }}</span> 
                                    {% endfor %}
                                </td>
                                <td>
                                    {{ instructor.total_students }}
                                </td>
                                <td><a href="instructors/{{ instructor.id }}">Ver</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination"
                    data-page={{pagination.page}}
                    data-total={{pagination.total}}
                    data-filter={{filter}}
                ></div>
            </div>
        </section>
   </main>
{% endblock %}