<div class="item">
    <h1>Avatar_url</h1>
    <input 
    type="url" 
    name="avatar_url" 
    placeholder="https://"
    value="{{ teacher.avatar_url }}">
</div>
<div class="item">
    <h1>Nome Completo</h1>
    <input 
    type="text" 
    name="name" 
    placeholder="Nome do Professor"
    value="{{ teacher.name }}">
</div>
<div class="item">
    <h1>Data de Nascimento</h1>
    <input 
    type="date" 
    name="birth"
    value="{{ teacher.birth }}">
</div>
<div class="item">
    <h1>Grau de Escolaridade</h1>
    <label for="level"></label>
    <select name="level" id="level" data-selected="Doutorado">
        <option value="Ensino Médio Completo" {% if teacher.level == "Ensino Médio Completo" %}selected{% endif %}>Ensino Médio Completo</option>
        <option value="Ensino Superior Completo"  {% if teacher.level == "Ensino Superior Completo" %}selected{% endif %}>Ensino Superior Completo</option>
        <option value="Mestrado"  {% if teacher.level == "Mestrado" %}selected{% endif %}>Mestrado</option>
        <option value="Doutorado"  {% if teacher.level == "Doutorado" %}selected{% endif %}>Doutorado</option>
    </select>
</div>
<div class="item">
    <h1>Tipo de aula</h1>
    <span>
        <input 
        type="radio" 
        name="type_of_class"
        id="presencial" 
        value="presencial" 
        {% if teacher.type_of_class == "presencial" %}
            checked
        {% endif %}
        >
        <label for="type_of_class">Presencial</label>
    </span>
    <span>
        <input 
        type="radio" 
        name="type_of_class"
        id="distancia" 
        value="distancia"
        {% if teacher.type_of_class == "distancia" %}
            checked
        {% endif %}
        >
        <label for="type_of_class">Distância</label>
    </span>
</div>
<div class="item">
    <h1>Acompanhamento</h1>
    <input 
    type="text" 
    name="services" 
    placeholder="Serviços separado por virgula"
    value="{{ teacher.services }}">
</div>
    <button type="submit">Salvar</button>