{% extends "layout.njk" %}

{% block content %}
    <main>
        <section class="content">
            <div class="card">
                <div class="image" style="background: url({{ teacher.avatar_url }}) center center / cover"></div>
                <div class="details">
                    <div class="item">
                        <h1>Nome Completo</h1>
                        <p>{{ teacher.name }}</p>
                    </div>
                    <div class="item">
                        <h1>Idade</h1>
                        <p>{{ teacher.birth }} anos</p>
                    </div>
                    <div class="item">
                        <h1>Grau de Escolaridade</h1>
                        <p>{{ teacher.level }}</p>
                    </div>
                    <div class="item">
                        <h1>Tipo de aula</h1>
                        <p>{{ teacher.type_of_class }}</p>
                    </div>
                    <div class="item">
                        <h1>Acompanhamento</h1>
                        {% for teacher in teacher.services %}
                            <span>{{ teacher }}</span>
                        {% endfor %}
                    </div>
                    <div class="item">
                        <h1>Desde</h1>
                        <p>{{ teacher.created_at }}</p>
                    </div>
                    <a class="button" href="{{teacher.id}}/edit">Editar</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}}