{% extends "layout.njk" %}

   {% block content %}
   <div class="notfound">
      <h1>Ei dev, essa página não pode ser encontrada :/</h1>
      <p>Se quiser voltar para a página inicial, é só <a href="/about">clicar aqui.</a></p>
   </div>
   {% endblock content %}

