{% extends "layout.njk" %}

{% block content %}
    <main>
        <section class="content">
            <div class="card table-container">
                <div class="header">
                    <a href="/teachers/create">NOVO</a>
                    <form action="/teachers" method="get">
                        <input 
                        type="text" 
                        value="{{filter}}"
                        name="filter"
                        placeholder="Nome ou Área">
                        <button type="submit">Filtrar</button>
                    </form>    
                </div>
                <table width="100%">
                    <thead>
                        <tr>
                            <th>Professores</th>
                            <th>Áreas</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>
                                    <div class="table-imgname">
                                        <span style="background-image:url({{ teacher.avatar_url }})"></span>
                                        {{ teacher.name }}
                                    </div>
                                </td>
                                <td>
                                    {% for taught in teacher.subjects_taught %}
                                        <span>{{ taught }}</span>
                                    {% endfor %}
                                </td>
                                <td><a href="/teachers/{{ teacher.id}}">VER</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="pagination"
                data-page={{ pagination.page }}
                data-total={{ pagination.total}}
                data-filter={{filter}}>
                </div>
            </div>
        </section>
    </main>
{% endblock %}}